@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../public/font/montserrat-regular-webfont.woff');
}

@font-face {
    font-family: 'kalam-regular';
    src: url('../public/font/kalam-regular-webfont.woff');
}

@font-face {
    font-family: 'sourceserifpro-regular';
    src: url('../public/font/sourceserifpro-regular-webfont.woff');
}

@font-face {
    font-family: 'kaushanscript-regular';
    src: url('../public/font/kaushanscript-regular-webfont.woff');
}

@font-face {
    font-family: 'kurale-regular';
    src: url('../public/font/kurale-regular-webfont.woff');
}

@font-face {
    font-family: 'dancingscript-regular';
    src: url('../public/font/dancingscript-regular-webfont.woff');
}

@font-face {
    font-family: 'devonshire-regular';
    src: url('../public/font/devonshire-regular-webfont.woff');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../public/font/montserrat-regular-webfont.woff');
}
