@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/Montserrat-Regular-webfont.woff');
}

@font-face {
    font-family: 'kalam-regular';
    src: url('../font/kalam-regular-webfont.woff');
}

@font-face {
    font-family: 'sourceserifpro-regular';
    src: url('../font/sourceserifpro-regular-webfont.woff');
}

@font-face {
    font-family: 'kaushanscript-regular';
    src: url('../font/kaushanscript-regular-webfont.woff');
}

@font-face {
    font-family: 'kurale-regular';
    src: url('../font/kurale-regular-webfont.woff');
}

@font-face {
    font-family: 'dancingscript-regular';
    src: url('../font/dancingscript-regular-webfont.woff');
}

@font-face {
    font-family: 'devonshire-regular';
    src: url('../font/devonshire-regular-webfont.woff');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../font/montserrat-regular-webfont.woff');
}
