

.titre_enbas span {
    margin: auto 15px auto 0px;
    width: 35px;
}

.titre {
    text-align: center;
    font-size: 1.1em;
}

.ensemblecarte {
    text-align: center;
    margin: 30px 100px 30px 100px;
}

.plat {
    display: flex;
    justify-content: space-between;
}

.bloccouleur1 {
    color: #a56799;
}

.bloccouleur2 {
    color: #6e4ccc;
}
