.container {
    text-align: center;
    padding-bottom: 40px;
    margin: auto;
}

body {
    margin: auto;
}

a {
    text-decoration: none;
}


h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
}

a {
    display: flex;
    text-decoration: none;
    color: #fdcb46;
    text-decoration: none;
    text-align: center;
    flex-direction: column;
}
