

.titre_enbas span {
    margin: auto 15px auto 0px;
    width: 35px;
}

.titre {
    text-align: center;
    font-size: 1.1em;
}

.ensemblecarte {
    text-align: center;
    margin: 30px 100px 30px 100px;
    @include phone-only{
        margin: 30px 40px 30px 40px;
    }
}


$breakpoints: ( tablette : 1135px,phone : 720px,);
@mixin phone-only { @media screen and (max-width: map-get($breakpoints, phone)) {@content;}}

.plat {
    display: flex;
    justify-content: space-between;
    @include phone-only{
        flex-direction:column;
    }
}

.bloccouleur1 {
    color: #a56799;
}

.bloccouleur2 {
    color: #6e4ccc;
}
