$asidheadfootpolicecolor: #fdcb46;
$backgroundfooter: #569c87;
$background-headasid: #579c87;
$breakpoints: ( tablette : 1024px,phone : 720px );
@mixin tablette-only {@media screen and (max-width: map-get($breakpoints, tablette)) {@content;}}
@mixin phone-only {@media screen and (max-width: map-get($breakpoints, phone)) {@content;}}
        
  footer {
            display: flex;
            justify-content: space-between;
            position: sticky;
            bottom: 0;
            margin-bottom: 0px;
            border-top: 1px solid #a1c181;
            background-color: $backgroundfooter;
            padding: 1.5rem;

            @include tablette-only {
                justify-content: space-around;
                display: flex;
                bottom: 0;
                margin: 0px;
            }

            @include phone-only {
                font-size: 0.9em;
                padding-bottom: 20px;
                justify-content: space-around;
            }
        }

  footer a {
     color: $asidheadfootpolicecolor;
     font-family: 'Montserrat-Regular';
     font-size: 1.3em;
     font-weight: bold;
        }

  .contactinfo {
      background-color: $background-headasid;
      width: 100%;
        }