$background-headasid: #579c87;
$asidheadfootpolicecolor: #fdcb46;
$backmenu1: #fcdfdb;
$backmenu2: #fff5fe;
$backmenu3: #f9f9f9;
$backmenu4: #fdfffd;
$backgroundfooter: #569c87;
$hauteurmenu: 350px;
$largeurmenu: 280px;
